{
    "name": "Market Test",
    "description": "step by step",
    "version": "beta",
    "license": {
        "name": "MIT"
    },
    "authors": [
        "tezosmiami <tezosmiami@gmail.com>"
    ],
    "homepage": "",
    "source": {
        "tools": "cameligo",
        "location": ""
    },
    "interfaces": [
        "TZIP-016"
    ]
}